name: Node.js CI - Teste pipelineExternal

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 18.x
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Install dependencies
        run: npm install
      - name: Start REST server in background
        run: |
          nohup npm run start-rest &
          npx wait-on tcp:3000 --timeout 60000
      - name: Run pipelineExternal.test.js
        run: npx mocha test/rest/external/pipelineExternal.test.js --timeout 10000 --reporter spec
